.site-header {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;

  width: 0;
  height: 120px;
  font-family: Georgia;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header h1 {
  margin: 0;
  font-size: 30px;
}
