body {
  margin: 0;
  padding: 0;
}

.site-header {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;

  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header h1 {
  margin: 0;
  font-family: Georgia;
  font-size: 30px;
  text-shadow: 10px 5px 7px rgba(0, 0, 0, 0.6);
}

.site-nav {
  background-color: #111;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.site-nav a {　/* aは<a>タグを表す */
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.site-nav a:visited {
  color: #fff;
}

.site-nav a:hover {
  text-decoration: underline;
}

.top-layout { /* トップページの左、中、右を固定 */
  display: grid;
  grid-template-columns: 200px 1fr 260px;
  gap: 20px;
  padding: 20px;
}

.profile {
  text-align: left;
  padding: 15px;
}

.profile h3 {
  font-size: 16px;
}

.profile p {
  font-size: 13px;
}

.profile-img {
  width: 123px;
  height: 120px;
  object-fit: cover;

  border-radius: 0; /* プロフィール画像を四角のまま維持 */
  margin-bottom: 10px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
