body {
  margin: 0;
  font-family: sans-serif;
}

.site-header {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;

  display: flex;
  align-items: center;
}

.site-header h1 {
  margin: 0;
  font-size: 20px;
}
