body {
  margin: 0;
  padding: 0;
}

.site-header {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;

  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header h1 {
  margin: 0;
  font-family: Georgia;
  font-size: 30px;
  text-shadow: 10px 5px 7px rgba(0, 0, 0, 0.6);
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.site-nav a {
  text-decoration: none;
  font-size: 14px;
}

.site-nav a:hover {
  text-decoration: underline;
}
